body{
  background: #252525;
  
}
.nv{
  display:flex;
  justify-content: right;

}
.vn{
  color:white;
  font-family:roboto;
  font-weight:bold;
  font-size:25px;
  margin:10px;
  transition: 0.4s ease;
}
.vn:hover{
  background: linear-gradient(135deg, #00c6ff, #0077ff); 
  padding:10px;
  border-radius:10px;
  box-shadow: 4px 4px 10px red;
  letter-spacing: 5px;
  transform: scale(1.05)
   
}
img{
  height:400px;
  width:500px;
  border-radius: 10000px;
  margin-left: 400px;
  box-shadow: 0 0 20px pink;
}

table{
  width:80%;
  margin:50px auto;
  border: solid 2px red;
  background:#ffffff;
  color: black;
  font-family: Arial, sans-serif;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  
}
 th, td{
  background: white;
  border:solid 2px red;
  padding:10px;
  text-align: center;
  height: 100px;
  font-weight: bold;
  font-size:25px;
  transition:0.3s ease; 
 }
 td:hover{
  background:linear-gradient(135deg, #FF6a00,#ee0979);
  padding:10px;
  border-radius:10px;
  box-shadow: 4px 4px 10px red;
  letter-spacing: 5px;
  transform: scale(1.05);
   text-shadow:5px 5px 50px white;
}
h2{
  text-align:center;
  color:white;
  font-size:45px;
  font-family: times new roman;
  
}