body{
  background: #252525;
  
}
.nv{
  display:flex;
  justify-content: right;

}
.vn{
  color:white;
  font-family:roboto;
  font-weight:bold;
  font-size:25px;
  margin:10px;
  transition: 0.4s ease;
}
.vn:hover{
  background: linear-gradient(135deg, #00c6ff, #0077ff); 
  padding:10px;
  border-radius:10px;
  box-shadow: 4px 4px 10px red;
  letter-spacing: 5px;
  transform: scale(1.05)
   
}
img{
  float: left;
  height:400px;
  border-radius:300px;
  position: relative;
  box-shadow:0 0 10px orange;
  
}
h2{
  text-align: center;
  color:white;
  font-family: roboto;
  font-size:45px;
  text-shadow: 1px -1px 10px gold;
}
div{
  text-align: center;
  color:white;
  background: linear-gradient(45deg, #667eea, #764ba2);
  width: auto;
  margin: 0 200px 0 500px;
  border-radius:10px;
  height:100px;
  font-size:25px;
  font-family: roboto;
}
div:hover{
  box-shadow: 0 0 20px red;
}



